body{
background:#0b0f19;
color:#00ff9c;
font-family:monospace;
text-align:center;
}

h1{
font-size:40px;
text-shadow:0 0 10px #00ff9c;
}

input,button{
padding:10px;
margin:10px;
border-radius:6px;
}

button{
background:#00ff9c;
border:none;
cursor:pointer;
}

.result{
margin-top:30px;
padding:20px;
border:2px solid red;
width:450px;
margin-left:auto;
margin-right:auto;
}

.bar{
width:100%;
background:#333;
height:20px;
}

.progress{
background:red;
height:20px;
}
body {
    background-color: #020617;
    color: #e2e8f0;
    font-family: monospace;
}

button {
    background-color: #22c55e;
    color: black;
    border-radius: 5px;
}

input {
    background-color: #0f172a;
    color: white;
    border: 1px solid #22c55e;
}
