<!DOCTYPE html>
<html>
<head>
<title>Project-S Scanner</title>

<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="container">
<div class="progress" id="progressBar" style="width:{{result.score}}%;"></div>
    <h1>⚡ PROJECT-S SECURITY SCANNER</h1>

    <p class="subtitle">Advanced Malware Detection System</p>

    <form method="POST" enctype="multipart/form-data" class="scan-box">

        <input type="text" name="url" placeholder="🔗 Enter URL to scan">

        <span>OR</span>

        <input type="file" name="file">

        <button type="submit">🚀 Scan Now</button>

    </form>

    {% if result %}
    <div class="result">

        <h2>🎯 Target: {{result.target}}</h2>
        <h2>Status: {{result.status}}</h2>

        <div class="bar">
            <div class="progress" style="width:{{result.score}}%;"></div>
        </div>

        <p>Threat Score: {{result.score}} / 100</p>

        <h3>🧠 Analysis</h3>
        <ul>
        {% for r in result.reasons %}
        <li>{{r}}</li>
        {% endfor %}
        </ul>

    </div>
    {% endif %}

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
